.banner {
  // background-color: $primary_color;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 120px;
  overflow-x: hidden;
  // border: 2px solid black;
  height: 800px;
  @include breakpoints(largeMobile) {
    height: 625px;
    margin-bottom: 40px;
  }
  .background_image {
    position: absolute;
    top: 0;
    z-index: -3;
    @include breakpoints(largeMobile) {
      height: 430px;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  @include breakpoints(largeMobile) {
    @include mobile_container;
    height: 70px;
  }
  > section {
    > .logo {
      height: 50px;
      @include breakpoints(largeMobile) {
        height: 30px;
      }
    }
    ul {
      display: flex;
      gap: 50px;
      @include breakpoints(largeMobile) {
        display: none;
      }
      > li {
        list-style: none;
        font-size: 16px;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.banner_content {
  // background-color: $primary_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 80px);

  @include breakpoints(largeMobile) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  // right_banner_section
  .right_banner_section {
    width: 50%;
    height: 596px;
    margin-right: 30px;
    width: 614px;
    background-color: #0d2032;
    border-radius: 20px;
    position: relative;
    @include breakpoints(largeMobile) {
      width: 269px;
      height: 261px;
    }

    .video_relative {
      height: 596px;
      border-radius: 20px;
      background-color: $primary_color;
      opacity: 100;
      width: 614px;
      position: absolute;
      top: 10%;
      z-index: -1;
      right: -10%;
      @include breakpoints(largeMobile) {
        width: 269px;
        height: 261px;
      }
    }
    .play_button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      > div {
        opacity: 100%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    > p {
      background-color: #fff;
      height: $sudo_size;
      font-size: 1.5rem;
      font-weight: bolder;
      text-align: center;
      border-radius: 20px 20px 0px 0px;
      @include breakpoints(largeMobile) {
        font-size: 1rem;
      }
    }
    .div {
      height: calc(100% - $sudo_size);
      display: flex;
      justify-content: center;
    }
  }

  // left_banner_section
  .left_banner_section {
    @include breakpoints(largeMobile) {
    }
    width: 50%;
    @include breakpoints(largeMobile) {
      width: 100%;
      text-align: center;
      > * {
        margin: 0px 0;
      }
    }
    > * {
      margin: 30px 0;
    }
    *:first-child {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    *:last-child {
      margin-bottom: 0px;
    }
    .p {
      color: black;
      background-color: #fff;
      border-radius: 30px;
      padding: 8px 20px;
      font-size: 12px;
      font-weight: bold;
      width: auto;
      display: inline-block;
    }
    .h3 {
      font-size: 50px;
      font-weight: 700px;
      width: 80%;
      @include breakpoints(largeMobile) {
        font-size: 24px;
        font-weight: 700px;
        width: 95%;
        margin: 0 auto;
      }
    }
    .sub_p {
      font-size: 18px;
      font-weight: 500;
      width: 60%;
      @include breakpoints(largeMobile) {
        font-size: 14px;
        font-weight: 700px;
        width: 95%;
        margin: 0 auto;
      }
    }
    .contact_button_div {
      @include breakpoints(largeMobile) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
    .contact_button {
      padding: 16px 30px;
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: bolder;
      border-radius: 10px;
      border: none;

      > span {
        margin-left: 10px;
      }
    }
  }
}
