.podcast {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: #f7f5fe;
  padding: 80px;
  @include breakpoints(tablet) {
    margin-top: 40px;
    padding: 40px;
  }
  > div > h4 {
    text-align: center;
    margin-bottom: 60px;
    @include breakpoints(tablet) {
      margin-bottom: 40px;
    }
  }
  .single_video {
    height: 600px;
    background-color: peachpuff;
    overflow: hidden;
    border-radius: 20px;
    width: 1200px;
    @include breakpoints(tablet) {
      width: 350px;
      height: 220px;
    }
  }

  .div {
    height: 100%;
    width: 100%;
  }

  .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(238, 190, 190, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .play_button > div {
    opacity: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
