.next-career {
  width: 40%;
  @include breakpoints(tablet) {
    width: 100%;
    text-align: left;
    padding-top: 40px;

    h4 {
      text-align: center;
    }
    p {
      font-size: 16px;
    }
    .heading {
      font-size: 16px;
    }
  }

  .bullet-style {
    margin-top: 0;
    padding: 0;
    display: inline-block;
    .heading {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .bullet {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 5px;
  }
}

.bootcamp_completion_container {
  img {
    width: 700px;
    // margin-top: 40px;
    height: 100%;
    @include breakpoints(tablet) {
      width: 100%;
      // margin-left: 10px;
    }
  }
}
