.next-career {
  width: 40%;
  @include breakpoints(tablet) {
    width: 100%;
    text-align: center;
    padding-top: 40px;
  }
}

.bootcamp_completion_container {
  img {
    width: 700px;
    // margin-top: 40px;
    @include breakpoints(tablet) {
      width: 100%;
      // margin-left: 10px;
    }
  }
}
