.payment-table-box {
  display: flex;
  justify-content: center;
  background-color: #e7e1fc;
  padding: 80px;
  padding-top: 0px;

  @include breakpoints(tablet) {
    padding: 40px 16px;
  }

  @include breakpoints(mobile) {
    padding: 20px 8px;
  }
}

.payment-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  border-radius: 15px;
  overflow: hidden;

  @include breakpoints(tablet) {
    margin-top: 40px;
  }

  @include breakpoints(mobile) {
    margin-top: 20px;
  }

  .payment-option {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid #c6c4cb;
    border-radius: 10px;

    @include breakpoints(tablet) {
      padding: 15px;
    }

    @include breakpoints(mobile) {
      padding: 10px;
    }

    h2 {
      text-align: center;
      // background-color: #5831f0;
      color: black;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > img {
        // width: 200px;
        height: 30px;
      }
      @include breakpoints(tablet) {
        padding: 8px;
        font-size: 14px;
      }

      @include breakpoints(mobile) {
        padding: 5px;
        font-size: 12px;
      }
    }
    .book_a_meeting_btn {
      background-color: $primary_color;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    .white-row {
      background-color: #f9f9f9;
      padding: 10px;
      border-radius: 5px;

      p {
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 22px;
        width: 70%;
      }

      ul > li {
        margin-bottom: 15px;
        margin-left: 15px;
        color: $primary_color;
        font-weight: bold;
        font-size: 20px;

        > span {
          color: black;
          font-weight: normal;
          font-size: 16px;
        }
      }

      span {
        font-size: 10px;
        font-weight: normal;

        @include breakpoints(tablet) {
          font-size: 8px;
        }
      }
    }
  }
}

.linkBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
