.our_program {
  background-color: $primary_color;
  padding-top: 90px;
  padding-bottom: 100px;
  margin-top: 100px;
  @include breakpoints(tablet) {
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
  }

  .our_program_Flex {
    h4 {
      @include breakpoints(tablet) {
        // text-align: center;
      }
    }
    .p_flex {
      @include breakpoints(tablet) {
        // text-align: center;
      }
    }
  }
  .our_program_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include breakpoints(tablet) {
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      gap: 30px;
      margin-bottom: 40px;
    }
  }
  .lastCard {
    display: flex;
    justify-content: end;
    .div {
      height: 100%;
      width: 100%;
      @include breakpoints(tablet) {
        height: 280px;
        width: 100%;
      }
    }
    @include breakpoints(tablet) {
    }
  }
  //   first card_card
  .first_card {
    height: auto;
    width: 382px;
    border: #00000033 solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    @include breakpoints(tablet) {
      width: 100%;
    }
    // single_card_image
    .single_card_img {
      height: 219px;
      @include breakpoints(tablet) {
        width: 100%;
      }
      width: 352px;
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      background-color: $primary_color;
      margin-bottom: 15px;
      @include breakpoints(tablet) {
        width: 100%;
      }
      > img {
        object-fit: cover;
        width: 100%;
      }
    }

    // single_card_info
    .single_card_info {
      //   display: flex;
      //   height: calc(390px - 219px);
      .div_1 {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        div {
          display: flex;
          flex-direction: column;
          gap: 10px;
          @include breakpoints(tablet) {
            display: flex;
            justify-content: space-between;
            gap: 0px;
            flex-direction: row;
          }
          p {
            color: #00000099;
            font-weight: 600px;
            display: flex;
            justify-content: start;
            align-items: center;
            @include breakpoints(tablet) {
              font-size: 10px;
            }
          }
        }
        .div_2 {
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            width: 100%;
            flex-grow: 1; /* This makes the button take the remaining space */
            padding: 10px 20px;
            /* width: 100%; Remove this line */
            background-color: white;
            border-radius: 40px;
            border: 1px solid $primary_color;
            color: $primary_color;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
          }
          > p {
            font-size: 20px;
            font-weight: bolder;
            > span {
              font-size: 16px;
              color: #00000099;
              font-weight: lighter;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
