@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.container {
  max-width: 1620px;
  margin: 0 auto;
}
.title {
  font-size: 42px;
  font-weight: bolder;
}

.max_container {
  max-width: 1920px;
  margin: 0 auto;
}

.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
