.mb_hidden {
  display: inline;
  @include breakpoints(tablet) {
    display: none !important;
  }
}
.lg_hidden {
  // display: inline;
  display: none !important;
  @include breakpoints(tablet) {
    display: flex !important;
  }
}

.button-cal {
  padding: 10px 20px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid $primary_color;
  color: $primary_color;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}
.mb-hidden {
  @include breakpoints(tablet) {
    display: none !important;
  }
}
.lg-hidden {
  display: none !important;
  @include breakpoints(tablet) {
    display: inline-block !important;
  }
}
.d-flex-lg-hidden {
  display: none !important;
  @include breakpoints(tablet) {
    display: flex !important;
    overflow: hidden;
    border-radius: 10px !important;
  }
}
.new_starts_class {
  width: auto;
  display: flex;
  gap: 5px;
}
