$primary_color: #5831f0;
$primary_color_light: #5731f05d;
// $primary_font: 16px;
$sudo_size: 60px;
$back_ground: #f7f5fe;
$title_text: #010813;
$body_text: #676b71;
$line_color: #c6c4cb;
$category_shape: #c0d1fe;
$light_yellow: #ffcc80;
$yellow: #ff9900;
$text_color: #5c5958;
$mobile-min: 0px;
$mdMobile-min: 321px;
$largeMobile-min: 387px;
$smTablet-min: 426px;
$tablet-min: 577px;
$semiTablet-min: 769px;
$smLaptop-min: 841px;
$laptop-min: 992px;
$largeLaptop-min: 1025px;
$extraLargeLaptop-min: 1300px;
$whiteColor: #ffffff;
$text-extra-medium: 18px;

@mixin mobile_container() {
  width: 100%;
  padding: 0px 16px;
}
@mixin mobile_button() {
  font-size: 12px;
  padding: 10px 15px;
  margin-top: 0px;
}
