.successful-students {
  .single_video {
    height: 420px;
    position: relative;
    // background-color: peachpuff;
    overflow: hidden;
    border-radius: 20px;
    width: 380px;
    .blur {
      width: 310px;
      height: 90px;
      border-radius: 15px;
      overflow: hidden;
      backdrop-filter: blur(10px);
      position: absolute;
      top: 75%;
      left: 10%;
      color: #fff;
    }
  }

  .div {
    height: 100%;
    width: 100%;
  }

  .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(238, 190, 190, 0.2); /* 20% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .play_button > div {
    opacity: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
