.successful-students {
  height: auto;
  margin-bottom: 100px;
  @include breakpoints(tablet) {
    // margin-top: 0px;
    margin-bottom: 40px;
  }
  .book_a_meeting_btns {
    padding: 16px 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: $primary_color;
    color: white;
    border: none;
    gap: 15px;
    margin-top: 40px;
    @include breakpoints(tablet) {
      @include mobile_button;
      // display: none;
      margin-top: 0px;
    }
  }
  .next-career1 {
    margin-top: 80px;
    @include breakpoints(tablet) {
      margin-top: 0px;
      // margin-bottom: 40px;
    }
  }
  .single_video {
    height: 320px;
    position: relative;
    // background-color: peachpuff;
    overflow: hidden;
    border-radius: 20px;
    width: 400px;
    .blur {
      width: 310px;
      height: 90px;
      border-radius: 15px;
      overflow: hidden;
      backdrop-filter: blur(10px);
      position: absolute;
      top: 75%;
      left: 10%;
      color: #fff;
    }
  }
  .div {
    height: 100%;
    width: 100%;
  }
}
