.privacy-policy {
  .title {
    font-size: 20px;
    font-weight: 500;
    color: #062539;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .link-ul {
    margin-left: 30px;
    margin-top: 20px;
  }
  .link-li {
    font-size: 16px;
    line-height: 1.6;
    margin: 15px 0;
  }
}
