.our_founder_section {
  background-color: rgba(88, 49, 240, 0.05);
  margin-top: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
  > h4 {
    margin-bottom: 120px;
  }
  @include breakpoints(largeMobile) {
    margin-top: 40px;
    padding-top: 40px;
    > h4 {
      margin-bottom: 40px;
    }
  }
}
.yellowVector {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  @include breakpoints(largeMobile) {
    height: 159.03px;
    width: 155.26px;
    // gap: 8px;
    gap: 10px;
    bottom: -25%;
  }
}
.founder_info {
  display: flex;
  width: 100%;
  height: 100%;
  @include breakpoints(largeMobile) {
    display: inline;
  }
}
.founder_info_right {
  position: relative;
  width: 50%;
  @include breakpoints(largeMobile) {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 10px;
  }
}
.video_card {
  position: absolute;
  bottom: -25%;
  z-index: 5;
  left: 25%;
}
.single_video {
  height: 349px;
  width: 464px;
  position: relative;
  background-color: peachpuff;
  overflow: hidden;
  border-radius: 20px;
  @include breakpoints(largeMobile) {
    height: 140px;
    width: 180px;
  }
}
.div {
  height: 100%;
  width: 100%;
}
.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(238, 190, 190, 0.2); /* 20% opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.play_button > div {
  opacity: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_div {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 45px;
  @include breakpoints(largeMobile) {
    width: 226px;
    height: 188px;
    border-radius: 15px;
  }
}
.img_div > img {
  object-fit: cover;
}
.founder_info_left {
  padding-right: 100px;
  width: 50%;
  @include breakpoints(largeMobile) {
    width: 100%;
    padding-right: 0px;
  }
}
.into_p {
  color: $text_color;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.32px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.experience {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.founder_contact {
  display: flex;
  justify-content: space-between;
}
.book_a_meeting {
  padding: 16px 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  background-color: $primary_color;
  color: white;
  border: none;
  gap: 15px;
  margin-top: 30px;
  @include breakpoints(largeMobile) {
    font-size: 12px;
    padding: 10px 15px;
    margin-top: 0px;
  }
}
.title {
  font-size: 18px;
}
.p1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  @include breakpoints(largeMobile) {
    display: inline-block;
    font-size: 12px;
  }
}

/* ReviewAboutFounder */
.ReviewAboutFounder {
  margin-top: 120px;
}
.review_about_founder_cards {
  margin-top: 60px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.review_card {
  max-height: 400px;
  width: 100%;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 32px 0px #6c3beb1c;
  position: relative;
  overflow: hidden;
}
.absolute_icons {
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  > svg {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.review_card > .p1 {
  margin-top: 30px;
  padding: 10px 15px;
  background-color: rgba(88, 49, 240, 0.1);
  display: inline-block;
  color: $primary_color;
  border-radius: 9px;
}
.review_card > .reviews > p {
  word-spacing: 0.1rem;
  line-height: 1.7rem;
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  min-height: 150px;
  // max-height: 250px; /* Ensure consistent height */
}
.user_info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user_info > img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.user_info > .div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_info > .div > div > .p {
  font-size: smaller;
  color: #1c1c1e;
}
.user_info .user_name {
  font-weight: bolder;
}
