.finance_section {
  margin-top: 100px;
  @include breakpoints(tablet) {
    margin-top: 40px;
  }
}
.finance {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include breakpoints(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .finance_card {
    width: 350px;
    height: 250px;
    background-color: #f7f5fe;
    border: 1px solid #5831f080;
    border-radius: 10px;
    padding: 30px;

    @include breakpoints(tablet) {
      width: 100%;
      height: 110px;
      padding: 10px;
    }

    h3 {
      font-size: 30px;
      color: #4b4a4d;
      @include breakpoints(tablet) {
        font-size: 15px;
      }
    }

    img {
      width: 90px;
      @include breakpoints(tablet) {
        width: 50px;
      }
    }
  }
}
