.swiper-slide-content {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 60px;
  > img {
    object-fit: cover;
    width: 100%;
    display: inline-block;
  }
}
