.students_experience {
  margin-bottom: 120px;
  .bootcamp-p {
    width: 50%;
    margin: 20px auto 0px auto;
    @include breakpoints(tablet) {
      width: 100%;
    }
  }
}

.videos_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // gap: 30px;
  column-gap: 30px;
  row-gap: 0px;
  @include breakpoints(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 10px;
  }
  .single_video {
    height: 400px;
    margin-bottom: -70px;
    width: 100%;
    @include breakpoints(tablet) {
      height: 140px;
      margin-bottom: -10px;
    }
    position: relative;
    // background-color: peachpuff;
    overflow: hidden;
    border-radius: 20px;
  }

  .div {
    height: 100%;
    width: 100%;
  }

  .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(238, 190, 190, 0.2); /* 20% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .play_button > div {
    opacity: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
