.front_end {
  overflow: hidden;
  // background-color: rgba(0, 0, 0, 0.76);
  background-image: url("/images/image/Rectangle-41915.png");
  background-repeat: no-repeat;
  // background-position: c;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;

  .lastCard {
    display: flex;
    width: 369px;
    height: 402px;
    margin-left: calc(100% - 369px);
    justify-content: space-between;
    @include breakpoints(tablet) {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      gap: 30px;
      margin-left: 0;
    }
    .div {
      display: flex;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;

      @include breakpoints(tablet) {
        height: 320px;
        width: 100%;
      }
    }
  }

  .front_end_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 120px;
    @include breakpoints(tablet) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
  }
  //   first card_card
  .first_card {
    height: 390px;
    width: 382px;
    @include breakpoints(tablet) {
      width: 100%;
    }
    border: #00000033 solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    // single_card_image
    .single_card_img {
      height: 219px;
      width: 352px;
      @include breakpoints(tablet) {
        width: 100%;
      }
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      background-color: $primary_color;
      margin-bottom: 15px;
      > img {
        object-fit: cover;
        width: 100%;
      }
    }
    // single_card_info
    .single_card_info {
      //   display: flex;
      //   height: calc(390px - 219px);
      .div_1 {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column; /* You might want to use 'row' depending on your layout needs */
        align-items: stretch;
        gap: 10px;
        > p {
          color: #00000099;
          font-weight: 600px;
          display: flex;
          justify-content: start;
          align-items: center;
        }
        .div_2 {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > button {
            padding: 10px 20px;
            background-color: white;
            border-radius: 40px;
            border: 1px solid $primary_color;
            color: $primary_color;
            font-weight: bold;
            cursor: pointer;
          }
          > p {
            font-size: 20px;
            font-weight: bolder;
            > span {
              font-size: 16px;
              color: #00000099;
              font-weight: lighter;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
