.one-on-one {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one-on-one-box {
  display: flex;
  justify-content: center;
  background-color: $whiteColor;
  padding: 50px 80px 10px 80px;
  padding-top: 0px;

  @include breakpoints(tablet) {
    padding: 20px 16px;
  }

  @include breakpoints(mobile) {
    padding: 20px 8px;
  }

  .title {
    text-align: center;
  }

  .description {
    width: 50%;
    text-align: center;
    margin: 20px auto 40px;
    @include breakpoints(tablet) {
      width: 100%;
      font-size: 14px;
    }
  }

  .bullet-style {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .text-container {
    background-color: #e7e2fc;
    padding: 25px;
    border-radius: 10px;

    p {
      margin: 0;
      padding: 5px;
    }
    @include breakpoints(tablet) {
      font-size: 14px;
      padding: 10px;
    }
  }

  .one-on-heading {
    font-weight: bold;
    font-size: 20px;
    color: $title_text;
    padding-right: 5px;
    @include breakpoints(tablet) {
      font-size: 16px;
    }
  }

  .one-on-bullet {
    padding: 2px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 3px;
    color: #5831f0;
  }

  .container {
    // border: solid rgb(223, 218, 218) 1px;
    border-radius: 15px;
    padding: 0;
    @include breakpoints(tablet) {
      padding: 0 20px;
    }
  }
  .img {
    height: 100%;
    position: relative;
    .download_btn {
      position: absolute;
      top: 0%;
      right: 0%;
      background: $primary_color;
      padding: 5px;
      border-radius: 5px;
      > img {
        width: 50px;
        height: 50px;
        @include breakpoints(tablet) {
          width: 30px;
          height: 30px;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
