.faq {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
  margin-top: 100px;

  @include breakpoints(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 100px;
  }

  .div {
    width: 50%;
    /*  .img {
      display: flex;

      width: 100%;
    } */
    @include breakpoints(tablet) {
      width: 100%;
    }

    img {
      width: 700px;
      @include breakpoints(tablet) {
        // width: 300px;
        width: 100%;
        // margin-left: 40px;
      }
    }
  }
}

details {
  border: 2px solid #ddd;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 25px;
}

summary {
  font-size: 20px;
  font-weight: bold;
  background-color: #f7f5fe;
  padding: 30px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}

summary::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease;
}

details[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}

details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details > div {
  padding: 25px;
  background-color: #f7f5fe;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
