.table-box {
  display: flex;
  justify-content: center;
  background-color: #e7e1fc;
  padding: 80px;
  @include breakpoints(tablet) {
    padding: 40px 16px;
  }
}

.compare-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;
  border-radius: 15px;
  overflow: hidden;
  @include breakpoints(table) {
    margin-top: 40px;
  }

  thead {
    background-color: #5831f0;
    color: #fff;
  }

  .white-row {
    background-color: #fff;
    text-align: left;
  }

  .blue-row {
    background-color: #cbbefa;
    text-align: center;
  }
}

.compare-table th,
.compare-table td {
  border-top: 1px solid #c6c4cb;
  padding: 25px;
  text-align: left;
  width: 350px;
  @include breakpoints(tablet) {
    padding: 20px;
  }
}
