.compare-table-box {
  display: flex;
  justify-content: center;
  background-color: #e7e1fc;
  padding: 50px 80px;

  @include breakpoints(tablet) {
    padding: 40px 16px;
  }

  @include breakpoints(tablet) {
    padding: 20px 8px;
  }
}

.compare-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;
  border-radius: 15px;
  overflow: hidden;

  .svg-icon {
    width: 30px;
    height: 30px;
    @include breakpoints(tablet) {
      width: 15px;
      height: 15px;
    }
  }

  @include breakpoints(tablet) {
    margin-top: 40px;
  }

  @include breakpoints(tablet) {
    margin-top: 20px;
  }

  thead {
    background-color: #5831f0;
    color: #fff;

    @include breakpoints(tablet) {
      font-size: 10px;
    }

    @include breakpoints(tablet) {
      font-size: 8px;
    }
  }

  .white-row {
    background-color: #fff;
    text-align: left;

    p {
      font-weight: bold;
    }

    span {
      font-size: 10px;
      font-weight: normal;

      @include breakpoints(tablet) {
        font-size: 8px;
      }
    }
  }

  .blue-row {
    background-color: white;
    text-align: center;
    width: 15%;
    .rating_icon {
      width: 30px;
      height: 30px;
    }
    @include breakpoints(tablet) {
      width: 7.5%;
      .rating_icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.compare-table th,
.compare-table td {
  border-top: 1px solid #c6c4cb;
  padding: 25px;
  text-align: left;
  width: 350px;

  @include breakpoints(tablet) {
    padding: 5px;
  }

  @include breakpoints(tablet) {
    padding: 10px;
    width: auto;
    font-size: 8px;
  }
}

.compare_table_new {
  background-color: #e7e1fc;
  padding: 50px 80px;
  @include breakpoints(tablet) {
    padding: 40px 16px;
  }
  .ant-table-tbody > tr > td {
    @include breakpoints(tablet) {
      padding: 3px;
    }
  }

  position: relative;
  .style_top_image {
    position: absolute;
    top: 3.5%;
    left: 6%;
    z-index: 0;
    @include breakpoints(tablet) {
      top: 4%;
      left: 0;
    }
  }

  .ant-table-wrapper .ant-table-tbody > tr > td {
    border: none !important;
  }
  .ant-table-wrapper .ant-table-thead > tr > th {
    border: none !important;
    padding: 3px;
  }
  .ant-table-thead {
    @include breakpoints(tablet) {
      tr {
        th {
          h2 {
            font-size: 13px;
            line-height: normal;
          }
        }
      }
    }
  }
  .ant-table-thead {
    .ant-table-cell {
      background-color: #fff;
    }
  }
  .compare_table_new_container {
    padding: 40px;
    background-color: $whiteColor;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    @include breakpoints(tablet) {
      padding: 5px;
    }
  }
}

.table_feature_card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;

  .content {
    background-color: #6c3bebe5;
    padding: 72px;

    @include breakpoints(tablet) {
      padding: 24px 10px;
      height: 136px;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 10px;
      }
    }
    text-align: center;
    color: $whiteColor;
    border-radius: 10px;
    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @include breakpoints(smTablet) {
        font-size: 10px;
      }
    }
  }
}

.other_bootcamp_card {
  background-color: $whiteColor;
  text-align: center;
  padding: 22.5px;
  @include breakpoints(tablet) {
    padding: 10px;
    height: 136px;
  }
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px;
  .icon_style {
    background-color: red;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    .svg-icon {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
    @include breakpoints(tablet) {
      height: 24px;
      width: 24px;
    }
  }
  h3 {
    margin-top: 10px;
    color: $title_text;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include breakpoints(tablet) {
      font-size: 10px;
    }
  }
  p {
    margin-top: 10px;
    padding: 0 15px;
    color: $title_text;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include breakpoints(tablet) {
      padding: 0 0;
      font-size: 6px;
    }
  }
}

.ts4u_bootcamp_card {
  background-color: $whiteColor;
  text-align: center;
  padding: 22.5px;
  border-radius: 10px;
  @include breakpoints(tablet) {
    padding: 10px;
    height: 136px;
  }
  box-shadow: 0px 0px 1px 0px;
  .icon_style {
    background-color: #09c64a;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    .svg-icon {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
    @include breakpoints(tablet) {
      height: 24px;
      width: 24px;
    }
  }
  h3 {
    margin-top: 10px;
    color: $title_text;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include breakpoints(tablet) {
      font-size: 10px;
    }
  }
  p {
    margin-top: 10px;
    padding: 0 15px;
    color: $title_text;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include breakpoints(tablet) {
      padding: 0 0;
      font-size: 6px;
    }
  }
}
