.our_courses {
  padding-top: 120px;
  @include breakpoints(tablet) {
    padding-top: 40px;
  }
  .our_courses_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 120px;
    @include breakpoints(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .last_card {
    display: flex;
    justify-content: end;
    padding-right: 120px;
    position: relative;

    @include breakpoints(tablet) {
      order: 2;
      padding-right: 0px;
    }
    .yellow_vector {
      width: 496px;
      height: 447px;
      background-color: #5831f0;
      position: absolute;
      left: 8%;
      z-index: -1;
      bottom: -70px;
      border-radius: 10px;
      @include breakpoints(tablet) {
        height: 225.32px;
        width: 250.02px;
        left: 20%;
        z-index: -1;
        bottom: -20%;
      }
    }
    .div {
      width: 535px;
      height: 550px;
      border-radius: 10px;
      overflow: hidden;
      @include breakpoints(tablet) {
        height: 280px;
        width: 269.68px;
      }
    }
  }
}
.aws_title {
  @include breakpoints(tablet) {
    .title {
      text-align: center;
    }
  }
}
.p_aws {
  @include breakpoints(tablet) {
    margin: 30px 0px;
    text-align: center;
    width: 100%;
  }
}
