* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container-shrink {
  width: 90%;
  margin: 0 auto;
} */

body {
  font-family: "Inter", sans-serif; 
  /* Primary font */
  position: relative;
  /* max-width: 1300px;
  margin: 0 auto; */
}

.Uparrow {
  position: fixed;
  z-index: 100;
  height: 30px;
  width: 30px;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}
