.demandable_bootcamp {
  background-color: $back_ground;
  height: auto;
  margin-bottom: 120px;
  padding: 100px 0px;
  .demand-text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    @include breakpoints(tablet) {
      width: 100%;
      text-align: center;
    }
  }
  //   single_card
  .single_card {
    height: 400px;
    width: 390px;
    @include breakpoints(tablet) {
      width: 100%;
    }
    border: #00000033 solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    // single_card_image
    .single_card_img {
      height: 219px;
      width: 352px;
      @include breakpoints(tablet) {
        width: 100%;
      }
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      background-color: $primary_color;
      margin-bottom: 15px;
      > img {
        object-fit: cover;
        width: 100%;
      }
    }
    // single_card_info
    .single_card_info {
      //   display: flex;
      //   height: calc(390px - 219px);
      .div_1 {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column; /* You might want to use 'row' depending on your layout needs */
        align-items: stretch;
        gap: 10px;
        > p {
          color: #00000099;
          font-weight: 600px;
          display: flex;
          justify-content: start;
          align-items: center;
        }
        .div_2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 7px;

          > button {
            padding: 10px 20px;
            background-color: white;
            border-radius: 40px;
            border: 1px solid $primary_color;
            color: $primary_color;
            font-weight: bold;
            cursor: pointer;
          }
          > p {
            font-size: 20px;
            font-weight: bolder;
            > span {
              font-size: 16px;
              color: #00000099;
              font-weight: lighter;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}

.swiper_parents {
  position: relative;
}
//  swiper
.swiper-nav-btns {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 100px;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 99%;
  display: flex;
  justify-content: space-between;
  gap: 200px;
  align-items: center;
  height: 100px;
}
.swiper-nav-btns button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #e7f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  transition: all 0.5s;
}

.swiper-nav-btns button:hover {
  background-color: hsl(0, 0%, 82%);
  cursor: pointer;
}
